<div
  class="flex flex-col bg-lightgray shadow-md h-full w-full justify-between relative !z-0"
>
  <div class="w-full flex items-center gap-2 px-1">
    <mat-form-field class="w-full custom-select">
      <select
        matNativeControl
        required
        (change)="onCardSelected($event)"
        [ngModel]="selectedClassification"
        [style.backgroundColor]="selectedCardColor"
      >
        @for (card of cards; track card) {
          <option [value]="card.classification" class="rounded-none">
            {{ card.classification }}
          </option>
        }
      </select>
    </mat-form-field>
  </div>
  <mat-form-field class="w-full custom-textarea">
    <textarea
      matInput
      placeholder="Notizen"
      class="w-full py-1 px-2 mb-1 bg-white"
      rows="6"
    ></textarea>
  </mat-form-field>
</div>
