<h2 mat-dialog-title>
  {{ isEditing ? "Titel ändern" : "Bitte Titel eingeben" }}
</h2>
<mat-dialog-content>
  <mat-form-field class="w-full job-task-title-dialog-input">
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
  <p *ngIf="errorMessage" class="text-red-500 py-2">{{ errorMessage }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button color="primary" (click)="onAccept()">Akzeptieren</button>
</mat-dialog-actions>
