<!-- Overlay -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-end transition-opacity duration-300"
  [class.opacity-0]="!isOpen"
  [class.opacity-100]="isOpen"
  (click)="onOverlayClick($event)"
>
  <div
    class="bg-white h-full w-1/3 min-w-[300px] shadow-lg flex flex-col transform transition-transform duration-300"
    [class.translate-x-full]="!isOpen"
    [class.translate-x-0]="isOpen"
  >
    <div
      class="p-3 pb-2 border-b border-b-gray flex items-center justify-between"
    >
      <button mat-icon-button (click)="onClose()" class="mb-1">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <h2 class="text-lg font-medium text-center flex-grow">{{ title }}</h2>
      <div class="w-10"></div>
    </div>
  </div>
</div>
