<!-- Overlay -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-end transition-opacity duration-300"
  [class.opacity-0]="!isOpen"
  [class.opacity-100]="isOpen"
  (click)="onOverlayClick($event)"
>
  <div
    class="bg-white h-full w-2/5 min-w-[450px] shadow-lg flex flex-col transform transition-transform duration-300"
    [class.translate-x-full]="!isOpen"
    [class.translate-x-0]="isOpen"
  >
    <div
      class="p-3 border-b border-b-gray flex items-center justify-between sticky top-0 bg-white z-10"
    >
      <button mat-icon-button (click)="onClose()" class="mb-1">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <h2 class="text-lg font-medium text-center flex-grow">{{ title }}</h2>
      <div class="w-10"></div>
    </div>

    <!-- Form Content -->
    <div class="p-4 overflow-y-auto flex-grow">
      <form #flyoutForm="ngForm">
        <ng-container
          *ngFor="let field of formFieldsDefinition; let first = first"
        >
          <div
            *ngIf="field.headline"
            class="mb-3"
            [style.marginTop]="first ? '0' : '2rem'"
          >
            <h3 class="text-sm 2xl:text-base 3xl:text-lg font-semibold">
              {{ field.headline }}
            </h3>
          </div>

          <div
            *ngIf="field.type === 'text' && field.name && field.label"
            class="mb-12 mt-2"
          >
            <label
              [for]="field.name"
              class="block text-xs 2xl:text-sm 3xl:text-base font-medium mb-1"
            >
              {{ field.label }}
            </label>
            <angular-editor
              [id]="field.name"
              [name]="field.name!"
              [(ngModel)]="formData[field.name!]"
              [config]="getEditorConfig(field)"
              (blur)="saveForm()"
              class="mt-1 block w-full"
              (keydown)="onKeydown($event, field)"
              (paste)="onPaste($event, field)"
            ></angular-editor>
            <div
              *ngIf="getMaxLength(field) as maxLength"
              class="text-[10px] 2xl:text-xs 3xl:text-sm mt-1 text-right text-black/50 italic"
            >
              {{ getPlainTextLength(formData[field.name!] || "") }} /
              {{ maxLength }} Zeichen
            </div>
          </div>
        </ng-container>
      </form>
    </div>

    <!-- Export Button at Bottom Right -->
    <div class="p-4 border-t border-t-gray flex justify-end">
      <button
        (click)="onExportClick()"
        [disabled]="!canExport()"
        class="bg-secondary text-white px-4 py-2 rounded-md hover:bg-secondary/80"
      >
        Tätigkeitsdarstellung exportieren
      </button>
    </div>
  </div>
</div>
