<mat-dialog-content>
  <div class="flex flex-col gap-4 p-4">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quasi
      iusto eum sunt! Rem inventore corrupti, distinctio ipsum beatae dolore est
      consequuntur id. Eum ut vero accusantium exercitationem dolorem minima
      perferendis cum rem similique eaque, adipisci commodi voluptate harum
      autem culpa sunt dolorum molestiae expedita necessitatibus hic dolore quia
      reiciendis quas mollitia. Harum magnam eum aspernatur, exercitationem
      eveniet aliquam sed.
    </p>
    <p>Version: {{ version }}</p>
  </div>
</mat-dialog-content>
