<mat-dialog-content>
  <div class="flex flex-col gap-4 p-4">
    <img src="/logo.svg" alt="Logo" class="h-6 mb-5" />
    <p>
      Copyright Bundespolizei {{ year }}<br />Version: {{ version
      }}<br /><br />Fragen oder Anregungen richten Sie bitte an das Team
      IT-strategische Planung:
      <a
        href="mailto:bpolp.ref51.sim.str@polizei.bund.de?subject=Kontaktaufnahme%20TDGen"
        target="_blank"
        class="text-black font-bold"
      >
        bpolp.ref51.sim.str&#64;polizei.bund.de
      </a>
    </p>
  </div>
</mat-dialog-content>
