<header class="relative bg-white shadow-md !z-10">
  <div class="flex justify-between items-center mx-auto px-4 py-3">
    <div class="flex items-center gap-4">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon class="-translate-y-1">menu</mat-icon>
      </button>
      <a href="/">
        <img src="/logo.svg" alt="Logo" class="h-6" />
      </a>
    </div>
    <p class="font-bold">{{ currentTitle }}</p>
    <button
      mat-icon-button
      aria-label="Open side panel"
      (click)="togglePanel()"
      [disabled]="!currentTitle"
      class="disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <mat-icon>{{ isPanelOpen ? "chevron_right" : "chevron_left" }}</mat-icon>
    </button>
  </div>
</header>

<mat-menu #menu="matMenu" class="custom-menu">
  <button mat-menu-item (click)="openCreateDialog()">
    Neue Tätigkeitsdarstellung
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="openJobDescriptionModal()">
    Tätigkeitsdarstellungen verwalten
  </button>
  <button mat-menu-item (click)="openJobTaskModal()">
    Arbeitsvorgänge verwalten
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="onButtonClick()">Nutzerverwaltung</button>
  <button mat-menu-item (click)="openAboutDialog()">Über TDGen</button>
</mat-menu>

<app-flyout-panel
  [isOpen]="isPanelOpen"
  [title]="'Rahmendaten'"
  (close)="closePanel()"
>
</app-flyout-panel>

<app-overlay-modal
  [isOpen]="isJobDescriptionModalOpen"
  (close)="closeJobDescriptionModal()"
  (contentClose)="jdAccordion.onOverlayModalClosed()"
>
  <app-jd-overview-accordion
    #jdAccordion
    (closeModal)="closeJobDescriptionModal()"
  ></app-jd-overview-accordion>
</app-overlay-modal>

<app-overlay-modal
  [isOpen]="isJobTaskModalOpen"
  (close)="closeJobTaskModal()"
  (contentClose)="jtAccordion.onOverlayModalClosed()"
>
  <app-jt-overview-accordion
    #jtAccordion
    (closeModal)="closeJobTaskModal()"
  ></app-jt-overview-accordion>
</app-overlay-modal>
