<div class="flex justify-center items-center h-full py-2 px-3">
  @if (sections.length === 0) {
    <div class="w-full h-full bg-gray"></div>
  } @else {
    <div class="flex flex-col h-full w-full border border-gray">
      @for (section of sections; track section) {
        <div
          class="h-full flex flex-col items-center justify-center cursor-pointer relative border border-transparent"
          [style.height.%]="section.percentage"
          [style.backgroundColor]="section.color"
          (click)="selectCard(section.card)"
          [class.!border-[#333]]="
            section.card.classification === selectedCard?.classification
          "
        >
          <p class="text-black/50 text-sm">{{ section.card.classification }}</p>
          <p class="text-black/50 text-sm">
            {{ section.percentage.toFixed(0) }}%
          </p>
        </div>
      }
    </div>
  }
</div>
