<div class="flex w-full h-full">
  <div class="flex flex-col bg-gray shadow-md h-full w-[22%]">
    <div class="p-2 bg-black/10">
      <input
        type="text"
        placeholder="Arbeitsvorgänge filtern"
        class="w-full px-2 py-1 border focus:outline-none text-xs 2xl:text-sm 3xl:text-base border-black/30"
        (input)="onSearch($event)"
      />
    </div>
    <div
      class="flex flex-col gap-2 p-2 pt-3 overflow-y-scroll"
      cdkDropList
      id="backlog"
      #backlogList="cdkDropList"
      [cdkDropListData]="backlogCards"
      [cdkDropListConnectedTo]="[displayList]"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListDisabled]="currentTitle === ''"
      cdkDropListSortingDisabled
    >
      @for (card of backlogCards; track card) {
      <div
        class="bg-white shadow-[1px_1px_6px_1px_rgba(0,_0,_0,_0.2)] rounded-md p-3 cursor-move select-none"
        cdkDrag
        [cardTooltip]="card"
        [style.cursor]="currentTitle === '' ? 'not-allowed' : 'move'"
      >
        <div
          class="bg-black/10 h-full w-full border-dotted border-2 border-black/30 min-h-[100px] transition-all duration-200"
          *cdkDragPlaceholder
        ></div>
        <div
          *cdkDragPreview
          class="opacity-50 bg-white border-2 border-black/30 rounded-md p-2 max-w-[28%]"
        >
          <p class="font-bold text-xs 2xl:text-sm 3xl:text-base">
            {{ card.title }}
          </p>
          <p class="text-xs 2xl:text-sm 3xl:text-base">
            {{ truncate(card.text, 100) }}
          </p>
          <p class="text-xs 2xl:text-sm 3xl:text-base text-black/50 mt-1">
            {{ card.classification }}
          </p>
        </div>
        <p class="font-bold text-xs 2xl:text-sm 3xl:text-base">
          {{ card.title }}
        </p>
        <p class="text-xs 2xl:text-sm mt-1">
          {{ truncate(card.text, 200) }}
        </p>
        <p class="text-xs 2xl:text-sm text-black/50 mt-1">
          {{ card.classification }}
        </p>
      </div>
      }
    </div>
  </div>
  <div class="flex flex-col h-full w-[78%]">
    <div
      class="flex flex-col gap-2 overflow-y-scroll overflow-x-hidden min-h-[200px] h-full p-2"
      cdkDropList
      #displayList="cdkDropList"
      id="display"
      [cdkDropListData]="displayCards"
      [cdkDropListConnectedTo]="[backlogList]"
      (cdkDropListDropped)="drop($event)"
      #displayScrollContainer
    >
      @if (displayCards.length > 0) { @for (card of displayCards; track card) {
      <div
        class="shadow-[1px_1px_6px_1px_rgba(0,_0,_0,_0.2)] rounded-md pt-2 px-4 pb-4 cursor-move select-none border border-transparent"
        [class.!border-[#333]]="card === selectedCard"
        cdkDrag
        [style.backgroundColor]="getPastelColor($index)"
        (click)="selectCard(card)"
        [attr.data-classification]="card.classification"
      >
        <div
          class="bg-black/10 h-full w-full border-dotted border-2 border-black/30 min-h-[200px] transition-all duration-200"
          *cdkDragPlaceholder
        ></div>
        <div class="flex justify-between">
          <p class="font-bold text-xs 2xl:text-sm 3xl:text-base mt-1">
            {{ $index + 1 }}. {{ card.title }}
          </p>
          <button
            mat-icon-button
            class="compact-icon"
            [matMenuTriggerFor]="cardMenu"
            (click)="$event.stopPropagation(); currentIndex = $index"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <p class="text-xs 2xl:text-sm 3xl:text-base mt-1">
          {{ card.text }}
        </p>
        <p class="text-xs 2xl:text-sm 3xl:text-base text-black/50 mt-1">
          {{ card.classification }}
        </p>
      </div>
      } } @else {
      <div class="flex flex-col justify-center items-center relative">
        @if (currentTitle) {
        <p
          class="text-xs 2xl:text-sm 3xl:text-base text-black/50 mt-40 absolute top-[0]"
        >
          Legen Sie zur Erzeugung einer Tätigkeitsdarstellung hier
          Arbeitsvorgänge ab.
        </p>
        } @else {
        <p
          class="cursor-pointer text-base 2xl:text-lg 3xl:text-xl text-black/50 mt-40 absolute top-[0]"
          (click)="openCreateDialog()"
        >
          Hier klicken, um neue Tätigkeitsdarstellung zu erzeugen
        </p>
        }
      </div>
      }
    </div>
  </div>
</div>

<mat-menu #cardMenu="matMenu" class="custom-menu">
  <button mat-menu-item (click)="moveCardToTop(currentIndex)">
    An den Anfang verschieben
  </button>
  <button mat-menu-item (click)="moveCardToBottom(currentIndex)">
    Ans Ende verschieben
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="emitAlert()">Editieren</button>
  <mat-divider></mat-divider>
  <button
    mat-menu-item
    (click)="removeFromDisplay(currentIndex)"
    class="!text-red-500"
  >
    Entfernen
  </button>
</mat-menu>
